In [1]:
import pandas as pd
import numpy as np

In [2]:
ipl_matches = pd.read_csv('matches.csv',parse_dates=['date'])
ipl_deliveries = pd.read_csv('deliveries.csv')

In [5]:
ipl_matches.query("team2==toss_winner & toss_decision!='field'")  # no data

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [8]:
ipl_matches.query("team1==toss_winner & toss_decision!='bat'") # no data 

##  HENCE, TEAM 1  always do BATTING no matter if team1 or team2 is a toss-winner
## TEAMS 2 DO FIELDING no matter if team1 or team2 is a toss-winner

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [24]:
ipl_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null datetime64[ns]
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: datetime64[ns](1), int64(5), object(12)
memory usage: 106.4+ KB

In [11]:
ipl_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
match_id            179078 non-null int64
inning              179078 non-null int64
batting_team        179078 non-null object
bowling_team        179078 non-null object
over                179078 non-null int64
ball                179078 non-null int64
batsman             179078 non-null object
non_striker         179078 non-null object
bowler              179078 non-null object
is_super_over       179078 non-null int64
wide_runs           179078 non-null int64
bye_runs            179078 non-null int64
legbye_runs         179078 non-null int64
noball_runs         179078 non-null int64
penalty_runs        179078 non-null int64
batsman_runs        179078 non-null int64
extra_runs          179078 non-null int64
total_runs          179078 non-null int64
player_dismissed    8834 non-null object
dismissal_kind      8834 non-null object
fielder             6448 non-null object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [14]:
ipl_deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [169]:
ipl_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

## 1 Which team has won maximum number of matches while chasing?

In [161]:

cases_of_winner_a = ipl_matches.query("toss_winner == winner & toss_decision =='field'") 
cases_of_winner_b = ipl_matches.query("toss_winner != winner & toss_decision =='bat'")

In [162]:
print(cases_of_winner_a['winner'].value_counts().head())
print("---------------------------------")
print(cases_of_winner_b['winner'].value_counts().head())

# the answr is  Kolkata Knight Riders   38 + 20 =  58

Kolkata Knight Riders          38
Royal Challengers Bangalore    32
Mumbai Indians                 31
Kings XI Punjab                29
Rajasthan Royals               27
Name: winner, dtype: int64
---------------------------------
Chennai Super Kings      22
Kolkata Knight Riders    20
Mumbai Indians           20
Rajasthan Royals         19
Delhi Daredevils         18
Name: winner, dtype: int64

# 2 Which team has lost maximum number of matches while chasing?

In [164]:
cases_losser_a_df=ipl_matches.query(" toss_winner!=winner & toss_decision=='field'  ")
cases_loss_a= cases_losser_a_df['toss_winner']

In [165]:
cases_loss_a.value_counts().head()

Royal Challengers Bangalore    29
Delhi Daredevils               27
Kings XI Punjab                26
Kolkata Knight Riders          24
Mumbai Indians                 23
Name: toss_winner, dtype: int64

In [166]:
cases_losser_b_df= ipl_matches.query(" toss_winner==winner & toss_decision=='bat'  ")

In [167]:
cases_loss_b0=cases_losser_b_df.query("team1==winner")['team2']
cases_loss_b1=cases_losser_b_df.query("team2==winner")['team1']   # this is a empty series

In [168]:
print(cases_loss_b0.value_counts().head())                 
#  Delhi Daredevils  = 20+27 =47      Royal Challengers Bangalore=17+29= 46
# answer is Delhi Daredevis

Delhi Daredevils               20
Royal Challengers Bangalore    17
Kings XI Punjab                15
Kolkata Knight Riders          13
Rajasthan Royals               13
Name: team2, dtype: int64

# 3  Which toss decision is best for each ground?

In [155]:
ground_df1=ipl_matches.query("toss_winner == winner ")[['toss_decision','venue','id']]
get_decision = lambda x: 'bat' if x=='field' else 'field'
ground_cond_b=ipl_matches.query("toss_winner != winner ")
col1=pd.Series(ground_cond_b['toss_decision'].apply(get_decision))
ground_df2=pd.concat([col1,ground_cond_b['venue'],ground_cond_b['id']],axis=1)

In [156]:
frames = [ground_df1,ground_df2]
result=pd.concat(frames)
print(result.head())

  toss_decision                                      venue  id
1         field    Maharashtra Cricket Association Stadium   2
2         field     Saurashtra Cricket Association Stadium   3
3         field                     Holkar Cricket Stadium   4
4           bat                      M Chinnaswamy Stadium   5
5         field  Rajiv Gandhi International Stadium, Uppal   6

In [157]:
y=result[['venue','toss_decision','id']].groupby(['venue','toss_decision']).count()
#for key, item in y:
#    print(y.get_group(key), "\n\n")
#print(y)
y=y.unstack(level=-1)
y.fillna(0, inplace=True)     
y.columns=['bat','field']      # rename the columns to bat and field

In [159]:
y.loc[  y['bat']> y['field'],'Decision']='bat'
y.loc[ y['bat']< y['field'],'Decision']='field'
y.loc[  y['bat']== y['field'],'Decision']='bat/field'
y.head()

                       bat  field Decision
venue
ACA-VDCA Stadium       0.0    2.0    field
Barabati Stadium       4.0    3.0      bat
Brabourne Stadium      6.0    5.0      bat
Buffalo Park           2.0    1.0      bat
De Beers Diamond Oval  1.0    2.0    field

# 4 Which player has won maximum number of MoM awards while chasing?

In [232]:
# batsman's batting team= mom's team = should be team2
chasing = ipl_matches.loc[:,['id','player_of_match', 'team2']]
batting_team = ipl_deliveries.loc[:,['match_id', 'batsman', 'non_striker', 'batting_team', 'bowler', 'bowling_team']]

In [233]:
MoM_winner_data = pd.merge(chasing, batting_team, how='inner', left_on='id', right_on='match_id')
MoM_winner_data.drop('match_id', axis=1, inplace=True)
MoM_winner_data.head(3)

,id,player_of_match,team2,batsman,non_striker,batting_team,bowler,bowling_team
0,1,Yuvraj Singh,Royal Challengers Bangalore,DA Warner,S Dhawan,Sunrisers Hyderabad,TS Mills,Royal Challengers Bangalore
1,1,Yuvraj Singh,Royal Challengers Bangalore,DA Warner,S Dhawan,Sunrisers Hyderabad,TS Mills,Royal Challengers Bangalore
2,1,Yuvraj Singh,Royal Challengers Bangalore,DA Warner,S Dhawan,Sunrisers Hyderabad,TS Mills,Royal Challengers Bangalore

In [235]:
#equatting MoM with batsman or bowler
MoM_winner_data = MoM_winner_data[(((MoM_winner_data['player_of_match']==MoM_winner_data['batsman'])| (MoM_winner_data['player_of_match']==MoM_winner_data['non_striker'])) & (MoM_winner_data['team2']==MoM_winner_data['batting_team'])) 
                                  | ((MoM_winner_data['player_of_match']==MoM_winner_data['bowler']) & (MoM_winner_data['team2']==MoM_winner_data['bowling_team']))]

In [236]:
MoM_winner_data.drop_duplicates('id', inplace=True)
MoM_winner_data.head()

,id,player_of_match,team2,batsman,non_striker,batting_team,bowler,bowling_team
393,2,SPD Smith,Rising Pune Supergiant,SPD Smith,AM Rahane,Rising Pune Supergiant,MJ McClenaghan,Mumbai Indians
617,3,CA Lynn,Kolkata Knight Riders,G Gambhir,CA Lynn,Kolkata Knight Riders,P Kumar,Gujarat Lions
906,4,GJ Maxwell,Kings XI Punjab,AR Patel,GJ Maxwell,Kings XI Punjab,RD Chahar,Rising Pune Supergiant
1232,6,Rashid Khan,Sunrisers Hyderabad,JJ Roy,BB McCullum,Gujarat Lions,Rashid Khan,Sunrisers Hyderabad
1603,7,N Rana,Mumbai Indians,N Rana,JC Buttler,Mumbai Indians,Kuldeep Yadav,Kolkata Knight Riders

In [239]:
#getting the player winning maximum MoM awards
MoM_winner_data_2 = MoM_winner_data.groupby('player_of_match').agg({'id':'count'})
MoM_winner_data_2.sort_values('id', ascending=False, inplace=True)
MoM_winner_data_2.columns=['Matches_won']
MoM_winner_data_2.head(1)

                 Matches_won
player_of_match
YK Pathan                 12

# 5 Which batsman has played maximum number of dot balls?

In [120]:
ipl_deliveries['player_dismissed'].fillna(0,inplace=True)
dot_balls=ipl_deliveries.query("total_runs==0 & player_dismissed==0 ")

In [160]:
dot_balls['batsman'].value_counts().head()
#V KHOLI with  1223 dot balls

V Kohli       1223
S Dhawan      1184
RG Sharma     1136
CH Gayle      1128
RV Uthappa    1068
Name: batsman, dtype: int64

# 6 Which batsmen came to crease but never got a chance to face a ball?

In [147]:
batsman = list(ipl_deliveries['batsman'].unique())
nonstrikers = list(ipl_deliveries['non_striker'].unique())

In [150]:
for i in nonstrikers:
    if i not in batsman:
        print(i)

A Nel
C Ganapathy
TP Sudhindra
BW Hilfenhaus

# 7 Which bowler has hit for maximum number of 1s/2s/3s/4s/6s ?

In [192]:
bowler_1=ipl_deliveries[ipl_deliveries['total_runs']==1]['bowler']
bowler_2=ipl_deliveries[ipl_deliveries['total_runs']==2]['bowler']
bowler_3=ipl_deliveries[ipl_deliveries['total_runs']==3]['bowler']
bowler_4=ipl_deliveries[ipl_deliveries['total_runs']==4]['bowler']
bowler_6=ipl_deliveries[ipl_deliveries['total_runs']==6]['bowler']
print("run 1: " +bowler_1.value_counts().index[0])
print("run 2: " +bowler_2.value_counts().index[0])
print("run 3: " +bowler_3.value_counts().index[0])
print("run 4: " +bowler_4.value_counts().index[0])
print("run 6: " +bowler_6.value_counts().index[0])

run 1: Harbhajan Singh
run 2: DJ Bravo
run 3: P Kumar
run 4: UT Yadav
run 6: PP Chawla

# 8 Which batsman got stumped out maximum number of times?

In [199]:
stumped_batsman=ipl_deliveries[ipl_deliveries['dismissal_kind']=='stumped']['batsman'].value_counts().index[0]
print(stumped_batsman)

SK Raina

# 9 Which non-striker has been part of maximum number of runouts?

In [202]:
runouts_nonstriker=ipl_deliveries[ipl_deliveries['dismissal_kind']=='run out']['non_striker'].value_counts().head()
print(runouts_nonstriker)

# answer = SK Raina and KD Karthik at 16

SK Raina      16
KD Karthik    16
RG Sharma     15
YK Pathan     14
RV Uthappa    14
Name: non_striker, dtype: int64

# 10 Make at least 5 more new queries and find answers to them.

In [203]:
#Performance of top fielder over seasons

fielder=ipl_deliveries[ipl_deliveries['dismissal_kind']=='caught']['fielder'].value_counts().head()
print(fielder)

KD Karthik        109
SK Raina           99
MS Dhoni           98
AB de Villiers     93
RV Uthappa         84
Name: fielder, dtype: int64

In [231]:
#Which is The Most Favorite Venue of Matches
venue_matches=ipl_matches.groupby('venue').count()
venue_matches['id'].sort_values(ascending=False)

venue
Eden Gardens                                            77
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Dr DY Patil Sports Academy                              17
Subrata Roy Sahara Stadium                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
Rajiv Gandhi Intl. Cricket Stadium                       8
New Wanderers Stadium                                    8
M. A. Chidambaram Stadium                                8
IS Bindra Stadium                                        7
Feroz Shah Kotla Ground                                  7
Dubai International Cricket Stadium                      7
M. Chinnaswamy Stadium                                   7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
Newlands                                                 7
Barabati Stadium                                         7
St George's Park                                         7
Sharjah Cricket Stadium                                  6
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         2
Name: id, dtype: int64

In [211]:
#Who is Most Popular Umpire?
ump=pd.concat([ipl_matches['umpire1'],ipl_matches['umpire2']])
ump=ump.value_counts().head(2)
ump=ump.to_frame().reset_index()
ump

             index    0
0           S Ravi  106
1  HDPK Dharmasena   87

In [218]:
#Which Team score >200 Maximum Times?
high_scores=ipl_deliveries.groupby(['match_id','inning','batting_team','bowling_team'])['total_runs'].sum().reset_index()
high_scores=high_scores[high_scores['total_runs']>=200]
ser = pd.Series(high_scores['inning'])
high_scores=high_scores.groupby(['inning','batting_team']).count().reset_index()
high_scores['batting_team'].head()

0    Chennai Super Kings
1        Deccan Chargers
2         Delhi Capitals
3       Delhi Daredevils
4          Gujarat Lions
Name: batting_team, dtype: object

In [220]:
#Which team won the highest no. of seasons?
season_winner=ipl_matches.drop_duplicates(subset=['season'],keep='last')[['season','winner']].reset_index(drop=True)
season_winner = season_winner['winner'].value_counts()
season_winner

Mumbai Indians           4
Chennai Super Kings      3
Kolkata Knight Riders    2
Deccan Chargers          1
Sunrisers Hyderabad      1
Rajasthan Royals         1
Name: winner, dtype: int64